.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  background-color: rgb(241, 241, 241);
  border-right: 1px solid rgb(185, 185, 185);
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* border-bottom: 1px solid black; */
}

.sidebar__header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
}

.sidebar__header__right > .MuiSvgIcon__root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar__search {
  display: flex;
  padding: 10px;
  background-color: rgb(226, 226, 226);
  align-items: center;
  height: 40px;
}

.sidebar__search__container {
  display: flex;
  align-items: center;
  background-color: white;
  height: 30px;
  border-radius: 20px;
  width: 100%;
}

.sidebar__search__container > input {
  border: none;
  margin-left: 5px;
  outline-width: 0;
  width: 100%;
}
.sidebar__chats > button {
  /* display: none; */
  width: 100%;
  border: none;
}
