.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(240, 240, 240);
}

.app__body {
  display: flex;
  background-color: rgb(220, 255, 242);
  /* margin-top: -50px; */
  width: 90vw;
  height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
